body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
  background-color: rgb(243, 234, 236);
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
